{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<meta content="Hypermedia - Social Media Marketing, CA" name="author">
    <link rel="canonical" href="https://www.hypermediapro.com/about-us">
    <meta content="Unlock your brand's full potential with Hyper Media Pro, a premier Social Media agency in Los Angeles." name="description">
    <meta name="keywords"
          content="engagement and targeting, instagram ads, social media agency, smm in LA, SMM in los angeles, monthly content plan, customizable Social Media Marketing plans">
    <meta property="og:title" content="Hypermediapro | Social Media Agency Los Angeles">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Hypermediapro - Social Media Marketing in Los Angeles">
    <meta property="og:url" content="https://www.hypermediapro.com">
    <meta property="og:image" content="https://www.hypermediapro.com/static/webapp/img/hyper_media_pro_hero.jpg">
    <meta property="og:image:alt" content="Hypermedia - Social Media Marketing, CA">
    <meta property="og:description" content="Highly customizable Social Media Marketing plans to grow your business in Los Angeles fast">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hypermediapro | Social Media Agency in Los Angeles">
    <meta name="twitter:description" content="Highly customizable Social Media Marketing plans to grow your business in Los Angeles fast">
    <meta name="twitter:image" content="https://www.hypermediapro.com/static/webapp/img/hyper_media_pro_hero.jpg">
{% endblock %}

{% block page_title %}
	Social Media Marketing management and coaching in Los Angeles
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'webapp/main.css' %}">
{% endblock %}

{% block main_content %}
    <section class="about about__section-mt about__section-mb">
        <div class="about__wrapper">
            <div class="about__content">
                <div class="about__title-wrapper">
                    <h1 class="section__title section__title_bkg_accent-two">{{ coaching_content.coaching_title }}</h1>
                </div>
                <div class="about__text">
                    <p>
                        {{ coaching_content.coaching_description|safe }}
                    </p>
                </div>
                <button class="cta__btn-style">Book a meet</button>
            </div>
            <div class="about__media-content">
                <div class="about__media-left">
                    <span class="about__decor-start rotation"></span>
                    <img class="img__style" src="../../../media/{{ coaching_content.coaching_image_one }}" alt="photo: {{ coaching_content.coaching_slug_one }}">
                </div>
                <div class="about__media-right">
                    <img class="img__style" src="../../../media/{{ coaching_content.coaching_image_two }}" alt="photo: {{ coaching_content.coaching_slug_two }}">
                </div>
            </div>
        </div>
    </section>
    <span class="about-page__decor"></span>
{% endblock %}