{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<meta content="Hypermedia - Social Media Marketing, CA" name="author">
    <link rel="canonical" href="https://www.hypermediapro.com/about-us">
    <meta content="Unlock your brand's full potential with Hyper Media Pro, a premier Social Media agency in Los Angeles." name="description">
    <meta name="keywords"
          content="Monthly Content Plan, Engagement + Targeting, Infographic (IG Stories, Feed Posts, Ads), Instagram Ads, Direct Messaging & Communication, Influencer Collaboration & Management, Instagram GiveAway Setup & Management, Monthly Analytics & Reporting, Weekly Calls">
    <meta property="og:title" content="Hypermediapro | Social Media Agency Los Angeles">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Hypermediapro - Social Media Marketing in Los Angeles">
    <meta property="og:url" content="Social Media Marketing in Los Angeles">
    <meta property="og:image" content="https://www.hypermediapro.com/static/webapp/img/hyper_media_pro_hero.jpg">
    <meta property="og:image:alt" content="Hypermedia - Social Media Marketing, CA">
    <meta property="og:description" content="Highly customizable Social Media Marketing plans to grow your business in Los Angeles fast">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hypermediapro | Social Media Agency in Los Angeles">
    <meta name="twitter:description" content="Highly customizable Social Media Marketing plans to grow your business in Los Angeles fast">
    <meta name="twitter:image" content="https://www.hypermediapro.com/static/webapp/img/hyper_media_pro_hero.jpg">
{% endblock %}

{% block page_title %}
	IG Stories, Feed Posts, Monthly Content Plan, Engagement and Targeting in Los Angeles
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'webapp/main.css' %}">
{% endblock %}

{% block main_content %}
	<div class="marquee__wrapper marquee__wrapper_no-top-border">
            <div class="marquee">
                <span>
                    Elevate Your Online Presence with Our Full Service Social Media Marketing Solutions Today!
                </span>
            </div>
            <div class="marquee">
                <span>
                    Elevate Your Online Presence with Our Full Service Social Media Marketing Solutions Today!
                </span>
            </div>
            <div class="marquee">
                <span>
                    Elevate Your Online Presence with Our Full Service Social Media Marketing Solutions Today!
                </span>
            </div>
        </div>
    <section class="service">
        <ul class="service__content">
            <li class="service__content-block">
                <div class="service__image-wrapper service__content_border">
                    <img src="../../../media/{{ service_content.service_image_one }}"
                         alt="photo: {{ service_content.service_slug_one }}">
                </div>
                <div class="service__content-wrapper">
                    <span class="service__content-bkg"></span>
                    <h2 class="services__block-title">
                        {{ service_content.service_title_one }}
                        <span class="service__extra-title">&&nbsp;management</span>
                    </h2>
                    <ul class="service__list">
                        {{ service_content.service_list_one|safe }}
                    </ul>
                    <div class="service__btn-wrapper">
                        <a href="{% url 'contact' %}">
                            <button class="cta__btn-style">Start My Social Success</button>
                        </a>
                    </div>
                </div>
            </li>
            <li class="service__content-block">
                <div class="service__content-wrapper service__content-wrapper_order service__content_border">
                    <span class="service__content-star"></span>
                    <h2 class="services__block-title">
                        <span class="service__extra-title">&&nbsp;consulting</span>
                        {{ service_content.service_title_two|safe }}
                    </h2>
                    <ul class="service__list">
                        {{ service_content.service_list_two|safe }}
                    </ul>
                    <div class="service__btn-wrapper">
                        <a href="{% url 'contact' %}">
                            <button class="cta__btn-style">Start My Social Success</button>
                        </a>
                    </div>
                </div>
                <div class="service__image-wrapper">
                    <img src="../../../media/{{ service_content.service_image_two }}"
                         alt="photo: {{ service_content.service_slug_two }}">
                </div>
            </li>
            <li class="service__content-block">
                <div class="service__image-wrapper service__content_border">
                    <img src="../../../media/{{ service_content.service_image_three }}"
                         alt="photo: {{ service_content.service_slug_three }}">
                </div>
                <div class="service__content-wrapper">
                    <span class="service__content-bkg"></span>
                    <h2 class="services__block-title">
                        {{ service_content.service_title_three }}
                    </h2>
                    <ul class="service__list">
                        {{ service_content.service_list_three|safe }}
                    </ul>
                    <div class="service__btn-wrapper">
                        <a href="{% url 'coaching' %}">
                            <button class="cta__btn-style">Start My Social Success</button>
                        </a>
                    </div>
                </div>
            </li>
            <li class="service__content-block">
                <div class="service__content-wrapper service__content-wrapper_order service__content_border">
                    <span class="service__content-star"></span>
                    <h2 class="services__block-title">
                        <span class="service__extra-title">&&nbsp;consulting</span>
                        {{ service_content.service_title_four }}
                    </h2>
                    <ul class="service__list">
                        {{ service_content.service_list_four|safe }}
                    </ul>
                    <div class="service__btn-wrapper">
                        <a href="{% url 'contact' %}">
                            <button class="cta__btn-style">Start My Social Success</button>
                        </a>
                    </div>
                </div>
                <div class="service__image-wrapper">
                    <img src="../../../media/{{ service_content.service_image_four }}"
                         alt="photo: {{ service_content.service_slug_four }}">
                </div>
            </li>
        </ul>
    </section>
{% endblock %}