{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<meta content="Hypermedia - Social Media Marketing, CA" name="author">
    <link rel="canonical" href="https://www.hypermediapro.com/about-us">
    <meta content="Unlock your brand's full potential with Hyper Media Pro, a premier Social Media agency in Los Angeles." name="description">
    <meta name="keywords"
          content="Monthly Content Plan, Engagement + Targeting, Infographic (IG Stories, Feed Posts, Ads), Instagram Ads, Direct Messaging & Communication, Influencer Collaboration & Management, Instagram GiveAway Setup & Management, Monthly Analytics & Reporting, Weekly Calls">
    <meta property="og:title" content="Hypermediapro | Social Media Agency Los Angeles">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Hypermediapro - Social Media Marketing in Los Angeles">
    <meta property="og:url" content="Social Media Marketing in Los Angeles">
    <meta property="og:image" content="https://www.hypermediapro.com/static/webapp/img/hyper_media_pro_hero.jpg">
    <meta property="og:image:alt" content="Hypermedia - Social Media Marketing, CA">
    <meta property="og:description" content="Highly customizable Social Media Marketing plans to grow your business in Los Angeles fast">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hypermediapro | Social Media Agency in Los Angeles">
    <meta name="twitter:description" content="Highly customizable Social Media Marketing plans to grow your business in Los Angeles fast">
    <meta name="twitter:image" content="https://www.hypermediapro.com/static/webapp/img/hyper_media_pro_hero.jpg">
{% endblock %}

{% block page_title %}
	Thank you for your request!
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'webapp/main.css' %}">
{% endblock %}

{% block main_content %}
    <section class="thank-you">
        <div class="content__wrapper thank-you__container-margin">
            <h2 class="thank-you__title">
                Thanks for your application!
            </h2>
            <div class="content__text content__text_thank-you">
                <p>
                    We will contact you shortly! In the meantime, we invite you to study our cases in more detail.
                </p>
            </div>
            <a href="{% url 'portfolio' %}">
                <button class="cta__btn-style">Our cases</button>
            </a>
            <span class="content__decor_two rotation"></span>
        </div>
        <span class="content__decor_three_thank-you"></span>
    </section>
{% endblock %}
