@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');

@font-face {
  font-family: "Melodrama";
  src:
      url("fonts/Melodrama-Semibold.woff") format("woff"),
      url("fonts/Melodrama-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}